body {
  margin: 0;
  text-align: center;
}

h1 {
  margin: 0;
}

.top-container {
  background-color: #ddf3f5;
  padding-top: 100px;
  position: relative;
}

.middle-container {
  height: 200px;
  width: 200px;
  background-color: #a6dcef;
}

.bottom-container {
  height: 200px;
  width: 200px;
  background-color: #f2aaaa;
}

.emphasis {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  top: 50px;
  right: 300px;
}

.bottom-cloud {
  position: absolute;
  bottom: 300px;
  left: 300px;
}